.catalog {
  padding-top: 50px;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, $card-width);
  gap: 50px $card-gap;
  width: catalogWidth($card-width, $card-gap, $cards-count);
}
